
.app-header {
  background-color: inherit;
  color: inherit;

  .btn {
    min-width: 120px;
  }
}

.app-body {
  background-color: inherit;
  color: inherit;
  display: flex;
  flex-direction: column;
  height: 100%;

  .biography {
    .profile-pic-wrapper {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin: 0 auto;

      .profile-pic {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: contain;
      }
    }

    .profile-input {
      margin: 0 auto;
    }
  }

  .skills {
    .skills-list {
      list-style: none;
    }
  }

  .timeline {
    .new-job {
      max-width: 650px;

      .dates {
        display: flex;
      }
    }

    .jobs-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;

      .job-item {
        max-width: 500px;
        border-top: 1px solid $secondary;
      }
    }
  }

}

.app-link {
  color: $link;
}

.text-muted {
  font-size: 12px;
}

.close {
  cursor: pointer;
}

.center {
  margin: 0 auto;
}

.months-select {
  max-width: 90px;
}

.custom-input {
  width: 100%;
  max-width: 600px;
}

.custom-text-area {
  min-width: 300px;
  max-width: 700px;
  margin: 0 auto;
  resize: none;
}
